*{
    padding: 0;
    margin: 0;
  }
  ::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    border-radius: 0;
    background-color: #ddd;

  }
  ::-webkit-scrollbar-thumb{
    background-color: #184D47;
    border-radius: 2px;
  }
  #toggleside{
    display: none;
  }


  #sidemenu{
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;

  }
  #sidemenu.active{
    left: 0;
  }

  #sidenav {
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: #184D47;
    overflow-x: hidden;
    padding-top: 0px;
    overflow-x: hidden;
  }


  #sidenav a :visited {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font: normal normal normal 22px/40px Sakkal Majalla;
    letter-spacing: 0px;
    background-color: #9ea19c;
    opacity: 1;
    display: block;
  }
  #sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font: normal normal normal 22px/40px Sakkal Majalla;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    display: block;
  }

 .thebody #stickyheader{
    border-bottom: 0px solid #184D47;
    position: sticky;
    height: 65px;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
  }
  .thebody #stickyheader input{
    border: 1px solid #999;
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    line-height: 2.5;
    padding-top: 5px;
    padding-left: 8px;
    font: normal  22px/40px Sakkal Majalla;
    border-radius: 17px;
    padding-left: 20px;
    font-size: 22px;



  }
  .thebody #stickyheader .input-group-text{
    position: absolute;
    border: 0px solid #184D47;
    background-color: transparent;
    right: 10px;
    margin-top: 5px;


    top: 6px;
  }
  .thebody #stickyheader .input-group-text svg{
/*     border: 1px solid #000;
 */  }
  .thebody #stickyheader #search{
    top: -60px;
    opacity: 1;

  }
  .thebody #stickyheader #search.active{
    top: 50px;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .thebody #stickyheader input:focus{
    z-index: 0;
    background-color: #fff;
    outline: 1px solid #184D47;
  }
  .thebody #stickyheader input:focus  {
    z-index: 99;
    color: #184D47;
  }
  .thebody #stickyheader button{
    width: 50px;
    height: 33px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #184D47;
    border-radius: 5px;
    padding-top: 4px;
    transition: 0.2s;
    margin-top: 12px;

  }
  .thebody #stickyheader button.active{
    background-color: #184D47;

  }
  .thebody #stickyheader button.active svg{
    fill: #fff;
  }
  .thebody #stickyheader button svg{
    display: block;
    margin: 0 auto;
    fill: #184D47;
  }


  .thebody #stickyheader button:hover {
    background-color: #184D47;
    transition: 0.2s;

  }
  .thebody #stickyheader button:hover svg{
    fill :#fff;
    transition: 0.2s;
  }
  .thebody #stickyheader .col-1{
    position: relative;
  }
  .thebody #stickyheader .col-1 div{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 600%;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius : 10px;
    border-top-left-radius : 10px;
    padding: 0;
    border: 1px solid #aaa;
    right: 44%;
    top: 43px;
    color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 400px;
  }
  .thebody #stickyheader .col-1 div::-webkit-scrollbar{
    width: 8px;
  }
  .thebody #stickyheader .col-1 div::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #ddd;

  }
  .thebody #stickyheader .col-1 div::-webkit-scrollbar-thumb{
    background-color: #184D47;
    border-radius: 5px;

  }

  .thebody #stickyheader .col-1 div ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .thebody #stickyheader .col-1 div ul li  {
    padding: 0;
    position: relative;

  }
  .thebody #stickyheader .col-1 div ul li a{
    padding: 10px;
    padding-left: 10%;
    width: 97%;
    margin: 3px auto;
    display: block;
    text-decoration: none;
    color: #184D47;
    padding-right: 20px;
    transition: 0.2s;
  }
  .thebody #stickyheader .col-1 div ul li a:hover{
    font-size: 1.1em;
    transition: 0.2s;
  }
  .thebody #stickyheader .col-1 div ul li img{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 2%;
    top: 16%;


  }
  .thebody #stickyheader .col-1 div ul hr{
    height: 1px;
    margin: 0px auto;
    width: 90%;
    background: #184D47;
  }
  .humidity-sensor{
    position: absolute;
    right: 46%;
    top: 45%;
  }








    .mypic{
    border-radius: 100%;
    }
    .card-body h6{

      text-align: left;
      font: normal normal bold 13px/8px Sakkal Majalla;
      letter-spacing: 0px;
      color: #D6EFC7;
    }
    .card-body{
      margin-top: 10px;
    }
  .list-group-item-action{
    border-color: white;
    color:#184D47;


  }
  svg{
    margin-right: 10px;
  }
  .photocard{
    border-radius: 52px;
  }



  .photocard div div  img{
    border-radius: 52px;
    }


    .myimg{
    position: absolute;
    border-radius: 90px;
    width: 28%;


    }



    .row{
    width: 100%;

    }
    .card-header{
    padding-left: 35px;
    text-align: left;
    font: normal normal bold 21px/37px Sakkal Majalla;
    letter-spacing: 0px;
    color: #060606;
    opacity: 1;
    }
    .card-header svg{
    float: right;
    margin-top: 3px;
    color: #060606;
    width: 40px;
    height: 29px;
    }
    .form-control{
      border-right: none;
    }

    .aroundmg{
        border-radius: 5px;
        margin-left: 10px;
        background-color: white;
        text-align: center;
        border-color: #184D47;

        }
        .card{
        box-shadow: 0px 1px 4px #184D47;

        }
        .card-text{
        text-align: left;
        font: normal normal normal 17px/22px Sakkal Majalla;
        letter-spacing: 0px;
        color: #184D47;
        opacity: 1
        }
        #pic small{
        text-align: left;
        margin-top: -10px;
        font-size: 15px;
        color: #D6EFC7;
        opacity: 0.53;
        }
        #pic{

          margin-top: -15px;

        }




        @media screen and (max-width: 991.2px) {
          #toggleside{
            display: block;

          }
          #sidemenu {
            position: absolute;
            left: -900px;
            top : 0;
            z-index: 200;
            transition: 1s;
            height: 100vh;


          }

        }
        @media screen and (max-width: 702px){
          .thebody #stickyheader .col-9{
            position: relative;
            width: 60%;
          }
        }
        @media screen and (max-width: 700px){
          #sidemenu {
            width: 80%;
            height: 100vh;

          }
          #sidenav{
            height: 100%;

          }
        }

        @media  screen and (max-width: 576px){
          .sidenav {
            position: absolute;
            left: -800px;
            transition: 1s;
          }

          .aroundmg{
            margin: 0;
            display: inline;

          }



          #toggleside{
            display: block;
            top: 0;
            left: 0;
          }



        }
        @media  screen and (max-width: 460px){
          .thebody #stickyheader .col-9{
            position: absolute;
            left: 10px;
            width: 80%;
          }
          .thebody #stickyheader #search{
            opacity: 0;
          }
          .thebody #stickyheader input{
            position: absolute;
            top: -70px;
            z-index: -2;
            transition: 0.3s;
          }

          .thebody #stickyheader .input-group-text{
            position: absolute;
            border: 0px solid #184D47;
            background-color: transparent;
            left: -10px;

            top: 10px;
          }
          .thebody #stickyheader .input-group-text:hover{
            cursor: pointer;
          }
        }
















