.position-absolute .btn-warning{
    background-color: #f1d493;
    color: #184D47;
    width: 150px;
    font: normal normal bold 18px/28px Segoe UI;
    border-radius: 20px;
    outline: none;
    border: none;
}
.text {
    font: normal normal  13px/17px Segoe UI;
    line-height: 22px;
    color: #729b62;
}
.lenght
{
height: 400px;

}
.back{
    background-image: url('../photos/satalite.svg');
    background-repeat: no-repeat;
    background-position: left; 
background-size: 100% 400px;
}
.line{
    text-decoration: none;
    color: #184D47;

    font: normal normal bold 18px/28px Segoe UI;
}