
.over{

    padding-left: 15px;

}
.cont{
    margin-top: 30px;

height: 90px;
background: #7070700a ;
text-align: right;

border-radius: 32px;
}


.cont div{
  padding-top: 40px;
    font: normal normal bold 30px/4px Akhbar MT;
letter-spacing: 0px;
color: #184D47;

}
.cont .smaller{
text-align: right;
  font: normal normal bold 18px/2px Akhbar MT;
  padding-top: 42px;
}
.yellowdiv , .whitediv{
  background: #96BB7C 0% 0% no-repeat padding-box;
border-radius: 30px;
display: flex;
opacity: 1;
}
.new{
  padding-top: 30px;
}
.whitediv{
  background: #ffffff ;
  color: #184D47;
  display: block;



}
.whitediv p{
  color: #184D47;
  font: normal normal bold 15px Arial;
  opacity: 0.8;

}

.addation button{ color: #184D47;
  font: normal normal bold 15px Arial;

 }


.day p {
  color: #15423d;
  font: normal normal bold 17px Arial;
  margin-left: 10px;

}

.currentday img{
width: 50%;
margin-left: -35px;
opacity: 100%;
margin-right: 10px;

}

#create{
  cursor: pointer;
  text-decoration: none;
}
#create:hover{
  color: #060606;
}
.create{
  cursor: pointer;
  text-decoration: none;
}
.create:hover{
  color: #060606;
}
.changediv{
  display: none;
}
.flex-container {
  flex-wrap: wrap;
}
.flex-container div {
  width: 250px;
  margin: 10px;
  text-align: left;

}
#subject{
  height: 25px;
  background: #96BB7C 0% 0% no-repeat padding-box;

}

input{
  border: none;
  outline: none;

font: normal normal bold 15px/2px Arial;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 0.96;
}



.containerd {
  position: relative;
}

.bottomright {
  position: fixed;
  bottom: 10px;
  right: 10px;

}
.modal-dialog{
  width: 500px;
  height: 350px;
  border-radius: 40px;
}
.modal-content {
  border-radius:30px 0 30px 0 ;


  background-color: #91b478;
  border-color: #91b478;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.form{
  background-color:  rgb(255 255 255 / 15%);
  width: 90%;
  border-radius: 9px;
  padding-top: 15px;
  padding-bottom: 15px;



}
.modal-footer , .modal-header {
border: none;
margin: 10px;
}

#green{
  color: #15423d;
}
#green:hover{
  cursor: pointer;
}
#whitesquere{
display: none;}
  /* For mobile phones: */

/*the dtails task page */

.currentdayofdetails img{
  width: 30%;
  margin-left: -45px;
  opacity: 100%;
  margin-right: 10px;
}

.CHECKLIST{
color: #FAD586;
text-align: right;
}

#hidenold:hover{
    cursor: pointer;
      }
#detailswhite{
display: none;
}
.ment{
  background-color:#D6EFC7 ;
}
.ment1{
  background-color:#96BB7C ;
}
.ment2{
  background-color:#184D47;
}
.btn-success{
border-radius: 15px;
outline: none;
border: none;
font: normal normal bold 20px/12px Arial;
padding: 35px;
padding-top: 15px;
padding-bottom: 15px;

letter-spacing: 1px;
color: #184D47;

}#addationnotes{
  height: 25px;
  background-color: rgb(255 255 255 / 1%);
  margin-bottom: 3px;
}
.modal-title{
  text-align: center;
font: normal normal bold 22px/9px Arial;
letter-spacing: 0px;
color: #184D47;
opacity: 1;
}
.textdiv{
  color: #184D47;
  font: normal normal bold 15px Arial;
  margin-top: 10px;
  text-align: center;

}


select {
  width: 100%;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background-color: rgb(255 255 255 / 15%)
}
select#crops , .col-xl-4.col-sm-4.textdiv {
    padding: 10px;
}

.col-xl-4.col-sm-4.textdiv{
  font: normal normal bold 17px/10px Arial;
letter-spacing: 0px;
color: #184D47;
opacity: 1;
}

.textdivline{
  color: #184D47;
  font: normal normal bold 15px Arial;
  margin-top: 10px;


}
.textdivlineday{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;

}
.modal-body h4{
  font: normal normal bold 20px/10px Arial;
  letter-spacing: 0px;
  color: #184D47;
  opacity: 1;
}
button.btn.btn-success.btn-lg {
  width: 100%;
  background-color: #FAD586;
}
.accordion-item{
  border: none;
}
.cont .button{
  padding-top: 22px;
border: none;


}
.button .accordion-button{

  background: #70707000 ;
  box-shadow: none;


}
.accordion-button::after {
border: 2px;
border-style: solid;
padding: 10px;
padding-right: 10px;
border-radius: 100%;


}
.birthday {
  width: 100%;
  background-color: rgb(255 255 255 / 15%);
   font: normal normal bold 17px/13px Arial;

}
