*{
  padding: 0;
  margin: 0;
}
#toggleside{
  display: none;
  position: absolute;
}
#closemenu{
  display: none;
  position: absolute;
}



.sidenav {
  height: 100%;
  
  z-index: 1;
  top: 0;
  margin-left: -12px;
  background-color: #184D47;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a :visited {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: left;
  font: normal normal normal 22px/40px Sakkal Majalla;
  letter-spacing: 0px;
  background-color: #9ea19c;
  opacity: 1;
  display: block;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: left;
  font: normal normal normal 22px/40px Sakkal Majalla;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  display: block;
}
.mypic{
border-radius: 100%;
}
.card-body h6{

  text-align: left;
font: normal normal bold 15px/10px Sakkal Majalla;
letter-spacing: 0px;
color: #D6EFC7;
}
.card-body{
  margin-top: 10px;
}
.list-group-item-action{
border-color: white;
color:#184D47;


}
svg{
margin-right: 10px;
}
.photocard{
border-radius: 52px;
}
.photocard div div  img{
border-radius: 52px;
}


.myimg{
position: absolute;
border-radius: 90px;
width: 28%;


}
.row{
width: 100%;

}
.card-header{
padding-left: 35px;
text-align: left;
font: normal normal bold 21px/37px Sakkal Majalla;
letter-spacing: 0px;
color: #060606;
opacity: 1;
}
.card-header svg{
float: right;
margin-top: 3px;
color: #060606;
width: 40px;
height: 29px;
}
.form-control{
  border-right: none;
}
.aroundmg{
border-radius: 5px;
margin-left: 10px;
background-color: white;
text-align: center;
border-color: #184D47;

}
.card{
box-shadow: 0px 1px 4px #184D47;
border: 1px solid #184D47;
}
.card-text{
text-align: left;
font: normal normal normal 17px/22px Sakkal Majalla;
letter-spacing: 0px;
color: #184D47;
opacity: 1
}
#pic small{
text-align: left;
margin-top: -10px;
font-size: 15px;
color: #D6EFC7;
opacity: 0.53;
}
#pic{

  margin-top: -15px;

}




#widgt-5{
  width: 90%;
  margin: auto;
  border: 1px solid #184D47;
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #fafcf8;
  color: #184D47;
}
#monthchange button{
  background-color: #fafcf8;
  border: 1px solid #fafcf8;
  text-align: center;
  color: #184D47;
  font-size: 26px;
  height: 50px;
  font-weight: 600;;

}
#monthchange button:focus {
  background-color: #fafcf8;
  border: 1px solid #fafcf8;
  outline: 0px solid #fafcf8;
}
#monthchange p {
  margin: 0  40px;
  font-size: 20px;
  text-align: center;
  height: 50px;
  line-height: 24px;
}
#monthchange p  #mnth{
  font-weight: 500;

}
#monthchange p  #year{
  font-weight: 300;
  font-size: 18px;
}


#calendar{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #184D47;
  text-align: center;
  padding-bottom: 10px;
  background-color: #ffffff;
}
#calendar table{
  width: 100%;
}
#calendar table thead th{
  padding-top: 15px;
  padding-bottom: 15px;
}
#calendar table td {
  color: #184D47;
  opacity: 65%;
  font-weight: 500;
  border-radius: 50%;
  padding: 5px 0;
  
  
}
#weather{
  width: 90%;
  margin: 10px auto;
  text-align: center;
  height: 110px;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px #00000029;}

#weather p{
  color: #96bb7c;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 36px ;
  font-weight: 400;
  line-height: 70%;
  padding-top: 30px;
  


}
#weather p sup{
  position: relative;
  right: 10px;
  
}
#weather p sup sup{
  position: relative;
  right: 5px;

}
#weather p span{
  color: #184D47;
  font-size: 16px;
  text-align: left;
}

#miniweather{
  border: 1px solid #184D47;
  border-radius: 5px;
  width: 120px;
  margin-left: 10px;
  height: 35px;
  font-size: 12px;    
  color: #184D47;
  padding-top: 6px;
  margin-bottom: 2px;
  text-align: left;
  padding-left: 5px;

  
}
#miniweather div{
  display: inline;
  width: 40px;
  height: 35px;
}
#miniweather div:nth-child(1){
  float: left;
  margin-right: 10px;
}
#miniweather div:nth-child(2){
  margin-left: 5px;
}

#miniweather p{
  color: #96bb7c;
  text-align: left;
  height: 35px;
  width: 40px;
  font-size: 14px ;
  font-weight: 400;
  display: inline;

}
#miniweather p sup{
  font-size: 12px ;

  
}


#yield{
  width: 90%;
  margin:  auto;
  font-size: 18px;
  font-weight: 600;
}
#yield #fullbar{
  width: 90%;
  margin: 10px auto;
  height: 11px ;
  border: 1px solid #3FA94A;
  border-radius: 15px;
  padding: 0;
}
#yield #fullbar #progresbar{
  height: 9px ;
  background-color: #3FA94A;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  transition: 0.2s;

}




@media  screen and (max-width: 1285px){

  #weather{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    height: 110px;
    padding: 0;
    box-shadow: 4px 4px 4px #00000029;}
  
  #weather p{
    
    font-size: 28px ;
    font-weight: 400;
    line-height: 70%;
    padding-top: 30px;
    
  
  
  }
  #weatherimg{
    padding-top: 10px;
    width: 80%;
  }

  #weather p span{
    font-size: 14px;
  }
  
  #miniweather{
    
    width: 100px;
    margin-left: 0;
    font-size: 10px;    
    padding-top: 6px;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 2px;
  
    
  }
  #miniweather div{
    display: inline;
    width: 30px;
    height: 35px;
  }
  #miniweather div:nth-child(1){
    float: left;
    margin-right: 10px;
  }
  #miniweather div:nth-child(2){
    margin-left:0;
  }
  
  #miniweather p{
    color: #96bb7c;
    text-align: left;
    height: 35px;
    width: 40px;
    font-size: 12px ;
    font-weight: 400;
    display: inline;
  
  }
  #miniweather p sup{
    font-size: 9px ;
  
    
  }
}

@media  screen and (max-width: 1200px){
  #weatherimg{
    padding-top: 0;
    width: 50%;
  }
  #weather p{
    
    font-size: 34px ;
    font-weight: 400;
    line-height: 70%;
    padding-top: 30px;
    
  
  
  }
  

  #weather p span{
    font-size: 18px;
  }
  #miniweather{
    
    width: 200px;
    margin-left: 30px;
    font-size: 14px;    
    padding-top: 6px;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 2px;
  
    
  }
  #miniweather div{
    display: inline;
    width: 30px;
    height: 35px;
  }
  #miniweather div:nth-child(1){
    float: left;
    margin-right: 70px;
  }
  #miniweather div:nth-child(2){
    margin-left:80px;
  }
  
  #miniweather p{
    color: #96bb7c;
    text-align: left;
    height: 35px;
    width: 40px;
    margin-right: 20px;
    font-size: 18px ;
    font-weight: 400;
    display: inline;
  
  }
  #miniweather p sup{
    font-size: 12px ;
  
    
  }
}

@media  screen and (max-width: 576px){
  .sidenav {
    position: absolute;
    left: -800px;
    transition: 1s;
  }
  .aroundmg{
    margin: 0;
    display: inline;

  }

  #weather{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    height: 110px;
    padding: 0;
    box-shadow: 4px 4px 4px #00000029;}
  
  #weather p{
    
    font-size: 22PX ;
    font-weight: 400;
    line-height: 70%;
    padding-top: 40px;
    
  
  
  }
  #weatherimg{
    padding-top: 10px;
    width: 80%;
  }

  #weather p span{
    padding-top: 5px;
    font-size: 12px;
  }
  
  #miniweather{
    
    width: 100px;
    margin-left: 0;
    font-size: 9px;    
    padding-top: 8px;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 2px;
  
    
  }
  #miniweather div{
    display: inline;
    width: 30px;
    height: 35px;
  }
  #miniweather div:nth-child(1){
    float: left;
    margin-right: 5px;
  }
  #miniweather div:nth-child(2){
    margin-left:0;
  }
  
  #miniweather p{
    color: #96bb7c;
    text-align: left;
    height: 35px;
    width: 30px;
    font-size: 12px ;
    font-weight: 400;
    margin: 0;
    display: inline;
  
  }
  #miniweather p sup{
    font-size: 8px ;
  
    
  }

  #toggleside{
    display: inline;
    left: 85%;
    top: 15px;
  }
  #closemenu{
    display: inline;
    z-index: 99;
    left: 90%;    
  }
  

}